.progress-bar{
    width: 0%;
    height: 30px;
    background-color: gray;
}

.progress {
    &_witdh {
        width: 25%;        
    }
    &-wrapper {
        display: flex;
    }
}

.img_cover {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 600px) {
    .img_cover {
        height: 100px;
        width: 100px;
    }
}

.margin {
    &-top{
        margin-top: 4px;
    }
    &-right {
        margin-right: 10px;
    }
    &-left {
        margin-left: 10px;
    }
}

.padding {
    padding-left: 100px;
    padding-right: 100px;
    &-top{
        padding-top: 2px;
    }
}

.witdh {
    width: 92%;
}

.btn-link-black {
    color: black;
}

.btn-link-black:hover {
    color: gray;
}

footer {
    background-color: #e6e6e6;
    height: 100px;
    margin-top: 15px;
    padding-top: 60px;
    padding-right: 25px;
    text-align: right;
}

header {
    background-color: #e6e6e6;
    height: 100px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.center-block {
    width: 6%;
    margin: 15px auto;
}